html{
    margin: 0%;
}

span{
    display: block;
}

.canvas{
    text-align: center;
    margin: 100px auto 100px;
}

.button{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    display: inline-block;
    font-weight: 550;
}

#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}